body {
  background-image: url(http://www.planwallpaper.com/static/images/518164-backgrounds.jpg);
}
.questionName {
  display: none;
}
.question1 {
  display: none;
}
.question2{
  display: none;
}
.question3 {
  display: none;
}
.question4{
  display: none;
}
.question5{
  display: none;
}
.resultName{
  display: none;
}
.resultText{
  display: none;
}
.resultC{
  display: none;
}
.resultJava{
  display: none;
}
.resultPhp{
  display: none;
}
.resultRuby{
  display: none;
}
.EndNote{
  display: none;
}
.REstart{
  display: none;
}
.nextName{
  display: none;
}
#questionyourname{
  display: none;
}
